@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500;600;700&display=swap');

// colors

$main-bg-color:#F1F1F6;
$inner-bg-color:  #F4F5FA;
$inner-btn-color:$inner-bg-color;
$text-color:#171435;
$sub-bg-color:#FFFFFF;
$seeall-bg-color:$text-color;
$yellow-bg-color:#FFFBEC;
$pink-bg-color:#F9ECFF;
$blue-bg-color:#ECEEFF;
$blur-color: rgba(84, 84, 146, 0.14);

// fonts

$merrieweather: 'Merriweather', serif;
$poppins: 'Poppins', sans-serif;

// font size

$pixel:10px;