@import './variables/variables.scss';
*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      
}

body {
      box-sizing: border-box;
      color: $text-color;
      background-color: $main-bg-color;
}


span {
      display: block;
}


// .main-background {
//       background-color: $main-bg-color;
//       position: relative;
//       width: 100%;
//       height: 100vh;
//       margin: 0 auto;
//       align-items: center;
      
// }

.inner-background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: $inner-bg-color;
      width: 83vw;
      border-radius: 23px;
      box-shadow: 0 47px 57px -26px $blur-color;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      

      &__texts {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &--header {
                  font-family: $merrieweather;
                  font-weight: 900;
                  max-width: 60%;
                  text-align: center;
                  font-size: 32px;
                  
            }

            &--explain {
                  font-family: $poppins;
                  font-weight: 500;
                  max-width: 70%;
                  text-align: center;
                  font-size: 18px;
                  margin-top: 24px;
            }
      }

      &__offers--wrapper{
            display: flex;

            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 60px;
           
      }

      &__offers {
            margin-top: 56px;
            background-color: $sub-bg-color;
            max-width: 285px;
            height: 326px;
            border-radius: 14px;
            box-shadow: -24px -24px $yellow-bg-color;

            &.second {
                  box-shadow: -24px -24px $pink-bg-color;
            }

            &.third {
                  box-shadow: -24px -24px $blue-bg-color;
            }
            
      }
      
}

.offer-content{
      display: flex;
      flex-direction: column;
      // gap: 15px;
      margin: 40px;

      
     &--img{
      width: 43.1px;
      height: 30px;

      &.second{
            width: 70px;
            height: 30px;
      }

      &.third{
            width: 76px;
            height: 30px;
      }
     }

     &--package-size {
      font-family: $poppins;
      font-weight: 600;
      font-size: 18px;
      margin-top: 16px;
     }

     &--package-speed {
      font-family: $poppins;
      font-weight: 500;
      font-size: 14px;
      margin-top: 2px;

      &.second {
            width: 250px;
      }
     }

     &--package-bill{
      font-family: $poppins;
      font-weight: 700;
      font-size: 24px;
      margin-top: 16px;
      display: inline;
     }

    
}

.button-wrapper {
      margin-top: 40px;
}

.button{
      width: 185px;
      height: 56px;
      background-color: $inner-btn-color;      
      border: none;
      border-radius: 41px;
      font-family: $poppins;
      font-weight: 500;
      font-family: 16px;
      color: $text-color;
      cursor: pointer;
      margin-left: 40px;
      box-shadow: 0 4px $button-shadow;

}

.seeall-btn{
      font-family: $poppins;
      font-weight: 500;
      font-size: 16px;
      background-color: $seeall-bg-color;
      color:$sub-bg-color;
      text-align: center;
      border-radius: 41px;
      width: 214px;
      height: 56px;
      margin-top: 30px;
      margin-bottom: 10px;
      cursor: pointer;
}




#inner {
     
      font-family: $poppins;
      font-weight: 500;
      font-size: 14px;
      display: inline;
}


#tikla {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 5;
      background-color: #ebe;
      width: 40px;
      text-align: center;
      height: 20px;
}


@media (max-width: 800px) {

      .inner-background__texts {
            margin-top: 30vh;

            &--header {
                  font-size: 24px;
            }

            &--explaing {
                  font-size: 20px;
            }
      }
}

@media (max-width: 500px) {

      .inner-background__texts {
            margin-top: 100vh;


            &--header {
                  font-size: 24px;
            }

            &--explaing {
                  font-size: 20px;
            }
      }

      .inner-background__offers--wrapper {
            margin-top: 100px;
      }
}

@media (max-width: 400px) {

      .inner-background__texts {
            margin-top: 180vh;


            &--header {
                  font-size: 24px;
            }

            &--explaing {
                  font-size: 20px;
            }
      }

      .inner-background__offers--wrapper {
            margin-top: 80px;
      }
}