@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #171435;
}

span {
  display: block;
}

.main-background {
  background-color: #F1F1F6;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.inner-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4F5FA;
  height: 90vh;
  width: 83vw;
  border-radius: 23px;
  box-shadow: 0 47px 57px -26px rgba(84, 84, 146, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.inner-background__texts {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-background__texts--header {
  font-family: "Merriweather", serif;
  font-weight: 900;
  width: 60%;
  text-align: center;
  font-size: 32px;
}
.inner-background__texts--explain {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 70%;
  text-align: center;
  font-size: 18px;
  margin-top: 24px;
}
.inner-background__offers--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 60px;
}
.inner-background__offers {
  margin-top: 56px;
  background-color: #FFFFFF;
  width: 285px;
  height: 326px;
  border-radius: 14px;
  box-shadow: -24px -24px #FFFBEC;
}

.offer-content {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.offer-content--img {
  width: 43.1px;
  height: 30px;
}
.offer-content--img.second {
  width: 70px;
  height: 30px;
}
.offer-content--img.third {
  width: 76px;
  height: 30px;
}
.offer-content--package-size {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 16px;
}
.offer-content--package-speed {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 2px;
}
.offer-content--package-speed.second {
  width: 250px;
}
.offer-content--package-bill {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 16px;
  display: inline;
}

.button-wrapper {
  margin-top: 40px;
}

.button {
  width: 185px;
  height: 56px;
  background-color: #F4F5FA;
  border: none;
  border-radius: 41px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-family: 16px;
  color: #171435;
  cursor: pointer;
  margin-left: 40px;
  box-shadow: 0 4px #E7E7FB;
}

.seeall-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #171435;
  color: #FFFFFF;
  text-align: center;
  border-radius: 41px;
  width: 214px;
  height: 56px;
  margin-top: 40px;
  cursor: pointer;
}

#inner {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: inline;
}

#tikla {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 5;
  background-color: #ebe;
  width: 40px;
  text-align: center;
  height: 20px;
}/*# sourceMappingURL=style.css.map */